@import "variables";
@import "mixins";

body {
    width: 100%;
    height: 100%;
    //font-family: "Lora","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: $marrom;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
    @media(min-width:768px) {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: $laranja;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover,
    &:focus {
        text-decoration: none;
        color: #fff;
    }
}

.light {
    font-weight: 400;
}

.navbar-header{
    width: 100%;
    margin-top: 15px;
}

.navbar-custom {

    display: none;

    margin-bottom: 0;
    border-bottom: 1px solid rgba(white, 0.3);
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: $marrom;
    text-align: center;

    .navbar-toggle {
        padding: 4px 6px;
        font-size: 16px;
        color: white;
        &:focus,
        &:active {
            outline: none;
        }
    }
    .navbar-brand {
        font-weight: 700;
        &:focus {
            outline: none;
        }
    }
    a {
        color: white;
    }
    .nav {
        li {
            a {
                -webkit-transition: background .3s ease-in-out;
                -moz-transition: background .3s ease-in-out;
                transition: background .3s ease-in-out;
                &:hover {
                    color: rgba(white, 0.8);
                    outline: none;
                    background-color: transparent;
                }
                &:focus,
                &:active {
                    outline: none;
                    background-color: transparent;
                }
            }
            &.active {
                outline: none;
                a {
                    background-color: rgba(white, 0.3);
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
    @media(min-width:768px) {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        &.top-nav-collapse {
            padding: 0;
            background: black;
            border-bottom: 1px solid rgba(white, 0.3);
        }
    }
}

p.data{
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
}
.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    background: url(../img/bg-topo.jpg) no-repeat bottom center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;

    .faixa{
        width: 100%;
        height: 60px;
        position: absolute;
        top: 0;
        background: url(../img/faixa-1.png) repeat-x top center;
    }

    .intro-body {
        display: table-cell;
        vertical-align: middle;
        .brand-heading {
            font-size: 40px;
            img{max-width: 100%;}
        }
        .intro-text {
            font-size: 18px;
            //font-weight: bold;
            padding: 0 7%;
        }

        .btn{
            padding: 15px 50px;
            background:#059616;
            border: none;
            transition: .3s all;

            &:hover{
                background: #fff;
                color: #059616;
            }
        }
    }
    @media(min-width:768px) {
        height: 100%;
        padding: 0;
        .intro-body {
            .brand-heading {
                font-size: 100px;
            }
            .intro-text {
                font-size: 18px;
            }

            i.fa{font-size: 24px;}
        }
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid white;
    border-radius: 100% !important;
    font-size: 40px;
    color: white;
    background: transparent;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    &:hover,
    &:focus {
        outline: none;
        color: white;
        background: rgba(white, 0.1);
    }
    i.animated {
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 1s;
        -moz-transition-property: -moz-transform;
        -moz-transition-duration: 1s;
    }
    &:hover {
        i.animated {
            -webkit-animation-name: pulse;
            -moz-animation-name: pulse;
            -webkit-animation-duration: 1.5s;
            -moz-animation-duration: 1.5s;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }
    }
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    from {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.faixa{
        width: 100%;
        height: 60px;
        position: absolute;
        top: -30px;
        background: url(../img/faixa-1.png) repeat-x top center;
    }

.content-section {
    padding-top: 100px;
}

section#about{
    padding: 50px 0;
    position:relative;

    
}

section#contact{
   background-color: #000;
   padding: 100px 0 200px 0;

   .row{
    margin-left: 0;
    margin-right: 0;
   }

   .facebook a{
        background: #1f67ca;
        border: none;

        &:hover{
            color: #fff;
            background: #074395;
        }
   }
}

section#download{
    padding-top: 0 !important;
    position: relative;
}

.download-section {
    width: 100%;
    padding: 0;
    position:relative;
    color: white;
    background: url(../img/downloads-bg.jpg) no-repeat bottom center scroll;
    background-color: $vermelho;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%;
    -o-background-size: 100%;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        //padding-top: 250px;
    }


    .download-section {
       padding: 150px 0 300px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 0;
}

.btn-default {
    border: 2px solid $laranja;
    color: #fff;
    background-color: $laranja;
    &:hover,
    &:focus {
        border: 1px solid #fff;
        outline: none;
        color: $marrom;
        background-color: #fff;
    }
}

ul.banner-social-buttons {
    margin-top: 0;
    @media(max-width:1199px) {
        margin-top: 15px;
    }
    @media(max-width:767px) {
        li {
            display: block;
            margin-bottom: 20px;
            padding: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

footer {
    padding: 50px 0;
    p {
        margin: 0;
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(white, 0.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(white, 0.2);
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    -webkit-tap-highlight-color: rgba(white, 0.2);
}


/********************************************************/

#about{

     .destaques{
        list-style-type: none;
        margin: 0 0 100px 000;
        padding: 0;
        float: left;
        width: 100%;
    }

    .flipper{
            /*display: inline-block;
            margin: 2% 0;
            padding: 0;
            width: 31%;
            height: 200px;
            text-align: center;*/
           
        }

        .palco-araucaria{background: #6e912a url(../img/palco-araucaria.png) center center no-repeat;}
        .palco-gralha{background: #199fdd url(../img/palco-gralha.png) center center no-repeat;}
        .espaco-cura{background: #222 url(../img/espaco-cura.png) center center no-repeat;}
        .jardim-ideias{background: #4e276c url(../img/jardim-ideias.png) center center no-repeat;}
        .espaco-kids{background: #e96421 url(../img/espaco-kids.png) center center no-repeat;}
        .galeria-artes{background: #fec82e url(../img/galeria-artes.png) center center no-repeat;}

        .flipper:nth-child(2),
        .flipper:nth-child(5){
            margin-left: 1%;
            margin-right: 1%;
        }


   

    ul.mais{
        list-style-type: none;
        margin: 0;
        padding: 0;
        color: #fff;
        font-weight: 300;
        font-size: 16px;

        li{
            display: inline-block;
            margin: 1% 0;
            padding: 1% 2%;
            width: 33%; 
            float: left;
            //text-align: left;
            min-height: 60px;
            transition: all .3s;
            cursor: pointer;
            text-transform: uppercase;

            &:hover{
                background: $laranja;
                //font-weight: bold;
                //font-size: 20px;
            }
        }        
    }
}


#cat-footer{
    position: fixed;
    bottom: -10px;    
    width: 100%;
    height: 0;    
    //background: $laranja;
    background: #1f0307;
    color: #fff;
    padding: 1% 0;   
    transition: .3s all;
    opacity: 0;
    overflow: hidden;
    text-align: center;
    z-index: 50;

    h3{
        //float: left;
        margin: 8px 0 0 0 !important;
    }

    h4{
        margin: 13px 0 0 0;
    }

    a.btn{
        background: #059616;
        border: 2px solid #1f0307;

        &:hover{
            background: #fff;
            color: #059616;
            border: 2px solid #1f0307;
        }
    }
}

#cat-footer.active{
    opacity: 1;
    bottom: 0;
    height: auto;
}


/********************************/


.item{
  opacity:0.4;
  transition:.4s ease all;
  margin:0 20px;
  transform:scale(.8);
}
@media(max-width:1000px){
  .item{margin:0; transform:scale(.9)}
}
.active .item{
  opacity:1;
  transform:scale(1);
} 
    
.owl-item {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}
.inner{position:absolute; bottom:30px; left:0; right:0; text-align:center;}
.inner a{color:#fff; text-decoration:none; border-bottom:2px solid rgba(255,255,255,0.5); transition:.3s ease border-color}
.inner a:hover{border-color:#fff;}
.black .inner a{color:#000; border-color:rgba(0,0,0,0.4)}
.black .inner a:hover{border-color:#000;}

.owl-controls{position:absolute; margin-top:300px;}

.owl-prev, 
.owl-next{
    position: absolute;
    top: 50%;    
    text-indent: -5000em;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    opacity: 0.5;
    transition: .3s all;

    &:hover{opacity: 0.8;}
    
}

.owl-prev{
    left: 4%;
    background: transparent url(../img/left.png) center center no-repeat;
}
.owl-next{    
    right: 4%;   
    background: transparent url(../img/right.png) center center no-repeat;
}




/************/

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
    width: 32%;
    //height: 200px;
    margin-bottom: 1.5%;
}
    /* flip the pane when hovered */
    .flip-container:hover .flipper, .flip-container.hover .flipper {
        transform: rotateY(180deg);
    }

    .flip-container:nth-child(2),
    .flip-container:nth-child(5){margin: 0 1.5%;}

.flip-container, .front, .back {    
    height: 200px;
    float: left;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    background: #fff;
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    background: #fff;
    padding-top: 90px;
    color: $marrom;
}